@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}


.account_row{
  height: auto;

  .account_list_item_wrapper{
    .account_list_item{
      margin-left: 15px;
      margin-right: 15px;
      border: 1px solid #000000;
      margin-bottom: 20px;

      .specs{
        width:auto; /* size the block automatically */
        display: inline-block;
        padding: 0;
        list-style: none;
        margin-left: 10px;
        margin-top:10px;
        li{
          padding: 5px;
          margin-bottom: 5px;
          border: 1px solid lightslategrey;
        }
      }
      .title{
        padding: 5px 10px;
        height: 55px;
        overflow: hidden;
        background-color: #d2d2d2;
      }
    }
  }
}
